{
  email admin@iawhats.com.mx
}

iawhats.com.mx {
  encode gzip
  reverse_proxy frontend:80
}

api.iawhats.com.mx {
  reverse_proxy backend:8080 {
    header_up Host {host}
    header_up X-Real-IP {remote_host}
    header_up X-Forwarded-For {remote_host}
    header_up X-Forwarded-Proto {scheme}
  }
}

